html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #e3dac8;
}

  /*--- navigation bar ---*/
.navbar {
    background: #381e0e;
}

.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #2d7bb3;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('img/valpo2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #fff;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description button {
    border:1px solid #a4c9e7;
    background:#0f1c2a;
    border-radius: 0;
    color:#fff;
}

.description button:hover {
    border:1px solid #0f1c2a;
    background:#fff;
    color:#000;
}

.features {
    margin: 8px auto;
    padding: 1em;
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features h1 {
    text-align: center;
    padding-bottom: 10px;
}

#technologies {
    text-align: left;
    font-family: 'Source Code Pro', monospace;
}

ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  
  .icon {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  .icon:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }
  
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
  }
  
  #footer {
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
  }
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  